<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create</a>
        <a class="active" href="/new">News</a>
    </div>
    <h1>Hello World with EJS</h1>
    <div>
        <img src="/images/img1.webp" alt="">
    </div>
</body>

</html>